  html, body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
      color: white;
      overflow-x: hidden;
    }
    header, nav, section {
      padding: 4vh 4vw;
      text-align: center;
    }
    nav {
      display: flex;
      justify-content: center;
      gap: 4vw;
      font-size: 1.5vw;
    }
    nav a {
      color: white;
      text-decoration: none;
      position: relative;
      transition: color 0.3s ease;
    }
    nav a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0.3vh;
      background: white;
      left: 0;
      bottom: -1vh;
      transition: width 0.3s ease;
    }
    nav a:hover {
      color: #ffcc00;
    }
    nav a:hover::after {
      width: 100%;
    }
    .titulo-principal {
      font-size: 4vw;
      margin-top: 3vh;
    }
    .subtitulo {
      font-size: 1.5vw;
      margin: 3vh auto;
      max-width: 70vw;
    }
    section h2 {
      font-size: 3vw;
      margin-top: 4vh;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 1.2vw;
    }
    .seccion {
      max-width: 90vw;
      margin: auto;
      text-align: left;
      font-size: 1.2vw;
    }
    .seccion p,
    .seccion li,
    .seccion h3 {
      font-size: 1.2vw;
      line-height: 1.6;
    }
    .redes img {
      width: 3vw;
      margin: 0 1vw;
    }
    a {
      font-size: 1.2vw;
    }
    
    .container {
      font-size: 0.2vw;
      display: flex;
      flex-direction: column;
      text-align: right; 
      width: 57vw;
      padding: 1vw;  
      gap: 0vw;
      margin-left: 38vw;
      text-align: left;
    }
    .foto{
      position: absolute;
      left: 15vw;
      top: 20vh;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      object-fit: cover;
    }
    .container_principal {
      display: flex;
      justify-content: center;
      gap: 2vw;
      padding: 2vw;
      
    }
    
    .columna {
      display: flex;
      flex-direction: column;
      gap: 2vw;
    }
    
    /* Estilo general para cada caja */
    .container2,
    .container3,
    .container4,
    .container5,
    .container6,
    .container7 {
      width: 30vw;
      background-color: #302b63;
      border: 0.2vw solid #ffffff;
      border-radius: 1vw;
      padding: 2vw;
      font-size: 0.9vw;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    /* Efecto hover */
    .container2:hover,
    .container3:hover,
    .container4:hover,
    .container5:hover,
    .container6:hover,
    .container7:hover {
      transform: scale(1.03);
      background-color: #3d347c;
    }
    